<ion-view style="" class=" " id="page8" title="Add dog">
    <ion-content class="has-header" padding="true">
         <input style="color: #000;" ng-model="newDog.name" type="text" placeholder="Name" >

        <label class="item item-input ic-selected">
            <a class="icon icon-right ion-android-call" style="margin-right: 10px;"></a>
            <input style="color: #000;" ng-model="newDog.telephone" type="text" placeholder="Telephone" >
          </label>

        <button ng-click="addDog()" 
        class=" button button-assertive  button-block  icon-left ion-ios-email-outline " 
        style="border-radius:0px 0px 0px 0px;" id="signup-button3">
        Add dog
        </button>
     
    </ion-content>
</ion-view>