<ion-view style="" class=" " id="page8" title="Add dog">
    <ion-content class="has-header" padding="true">

         <span style="color: #251C1C;">Please fill in form below to add a dog</span>

         <ion-list>

        <label class="item item-input ic-selected">
         <input style="color: #000;" ng-model="newDog.name" type="text" placeholder="Name" >
        </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.breed" type="text" placeholder="Breed" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.size" type="text" placeholder="Size" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.gender" type="text" placeholder="Gender" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.age" type="text" placeholder="Age" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.pedigree" type="text" placeholder="Pedigree" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.description" type="text" placeholder="Description" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.searching" type="text" placeholder="I'm looking for" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.progeny" type="text" placeholder="Progeny" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.ownname" type="text" placeholder="Owner's name" >
          </label>

         <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.telephone" type="text" placeholder="Telephone" >
          </label>

        <label class="item item-input ic-selected">
            <input style="color: #000;" ng-model="newDog.price" type="text" placeholder="Price" >
          </label>

        <button ng-click="addDog()" 
        class=" button button-assertive  button-block  icon-left ion-ios-paw-outline " 
        style="border-radius:0px 0px 0px 0px;" id="signup-button3">
        Add dog
        </button>
     
</ion-list>

    </ion-content>
</ion-view>