<ion-view style="" class=" " id="page10" title="DogMeet - Welcome">
    <ion-content class="has-header" padding="true">

        
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <!-- <a href="#">
                <img  src="img/arjunsk.jpg">
              </a> -->
              <p style="color: #ffffff;">

                  Witaj w DogMeet!<br>
                  DogMeet pozwala na wyszukanie przez użytkownika (właściciela psa) odpowiedniego właściciela innego psa. Użytkownik aplikacji może dodać swojego psa (zdjęcie, rasę, rodowód (tak/nie), certyfikat(y), kryteria poszukiwań oraz inne informacje o swoim psie. Może przeglądać oferty innych użytkowników, znaleźć informacje kontaktowe oraz informacje czego szukają (jaki pies/rasa) jak i zobaczyć informacje co do ewentualnie ustalonego wcześniej podziału nowo narodzonych zwierząt. 
                  <br>
                  Celem aplikacji jest ułatwienie właścicielowi psa znalezienie właściciela drugiego psa w celu uzyskania konkretnej rasy (skrzyżowania ras).

              </p>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
