<ion-view style="" class=" " id="page7" title="Dog list">
    <ion-content class="has-header" padding="false"  ng-init="loadMenu()"  >


		<div class="row" ng-repeat="item in menu" ng-if="$index % 2 === 0" style="border-top: 1px solid #999;">


			<div class="col col-50 " ng-if="$index < menu.length" style="padding:1px;border-right:1px solid #4E0E6C" >

				  <div class="item item-image" style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index].$id)" ng-src="{{'img/fk/'+ menu[$index].image +'.jpg'}}" width="10%" />
				  </div>

				  <a class="item item-icon-right assertive" href="javascript:void(0)"  style="border-width: 0px; border-style: none;" >
					<p ng-click="showProductInfo(menu[$index].$id)" style="font-size: 15px;text-align:left;">

						Dog's name: <span style="font-weight: bold;color: black;">{{menu[$index].name}}</span> <br/>
						Breed: <span style="font-weight: bold;color: black;">{{menu[$index].breed}}</span> <br/>
						Size: <span style="font-weight: bold;color: black;">{{menu[$index].size}}</span> <br/>
						Gender: <span style="font-weight: bold;color: black;">{{menu[$index].gender}}</span> <br/>
						Age: <span style="font-weight: bold;color: black;">{{menu[$index].age}}</span> <br/>
						Pedigree: <span style="font-weight: bold;color: black;">{{menu[$index].pedigree}}</span> <br/>
						Description: <span style="font-weight: bold;color: black;">{{menu[$index].description}}</span> <br/>
						I'm looking for: <span style="font-weight: bold;color: black;">{{menu[$index].looking_for}}</span> <br/>
						Progeny: <span style="font-weight: bold;color: black;">{{menu[$index].progeny}}</span> <br/>
						Owner's name: <span style="font-weight: bold;color: black;">{{menu[$index].owners_name}}</span> <br/>
						Phone: <span style="font-weight: bold;color: black;">{{menu[$index].phone}}</span> <br/>
						Price: <span style="font-weight: bold;color: black;"> {{menu[$index].price}}</span> <br/>

					</p>
					<i style="font-size: 25px; margin-right:0px;right:0px;"  ng-click="addToCart(menu[$index])" class="icon ion-ios-heart"></i>
				  </a>

			</div>


			<div class="col col-50 " ng-if="$index+1  < menu.length" style="padding:1px;">

				  <div class="item item-image" style="border-width: 0px; border-style: none;">
					<img ng-click="showProductInfo(menu[$index+1].$id)" ng-src="{{'img/fk/'+ menu[$index+1].image +'.jpg'}}" width="10%" />
				  </div>

				  <a class="item item-icon-right assertive" href="javascript:void(0)"  style="border-width: 0px; border-style: none;" >
					<p ng-click="showProductInfo(menu[$index+1].$id)" style="font-size: 15px;text-align:left;">

						Dog's name: <span style="font-weight: bold;color: black;">{{menu[$index+1].name}}</span> <br/>
						Breed: <span style="font-weight: bold;color: black;">{{menu[$index+1].breed}}</span> <br/>
						Size: <span style="font-weight: bold;color: black;">{{menu[$index+1].size}}</span> <br/>
						Gender: <span style="font-weight: bold;color: black;">{{menu[$index+1].gender}}</span> <br/>
						Age: <span style="font-weight: bold;color: black;">{{menu[$index+1].age}}</span> <br/>
						Pedigree: <span style="font-weight: bold;color: black;">{{menu[$index+1].pedigree}}</span> <br/>
						Description: <span style="font-weight: bold;color: black;">{{menu[$index+1].description}}</span> <br/>
						I'm looking for: <span style="font-weight: bold;color: black;">{{menu[$index+1].looking_for}}</span> <br/>
						Progeny: <span style="font-weight: bold;color: black;">{{menu[$index+1].progeny}}</span> <br/>
						Owner's name: <span style="font-weight: bold;color: black;">{{menu[$index+1].owners_name}}</span> <br/>
						Phone: <span style="font-weight: bold;color: black;">{{menu[$index+1].phone}}</span> <br/>
						Price: <span style="font-weight: bold;color: black;"> {{menu[$index+1].price}}</span> <br/>

					</p>
					<i style="font-size: 25px;right: 0px;"  ng-click="addToCart(menu[$index+1])" class="icon ion-ios-heart"></i>
				  </a>


			</div>

		</div>


	</ion-content>
</ion-view>
